name: Sync site.json file
on:
  workflow_dispatch:

jobs:
  updateConfig:
    environment:
      name: main
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repo
        uses: actions/checkout@v4
      - uses: actions/setup-node@v4
        with:
          node-version: 20
      - name: Run sync script
        env:
          AUTH_TOKEN: ${{ secrets.CONFIG_AUTH_TOKEN }}
        run: node scripts/sync-configs.mjs
      - name: Commit changes (if any)
        uses: EndBug/add-and-commit@v9
        with:
          add: config/site.json
          message: "Update site.json from API"
          default_author: github_actions
